<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../style.css">

    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class = "bg-warning">
  
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #3D3856;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Sleepify</a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 pull-right">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blogs">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#music">Music</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class = "container">
    
        <div class = "heading-home">
            
            <p>Welcome to Sleepify!</p>
            
            <img class = "img-fluid" src = "../sleep.png">
            
            <hr>
        </div>

        <secition id="home">

          <div class = "home-content">
              
              <p>This web app will fulfill the user's needs in tracking their sleeping patterns, including duration and timings.</p>
              
              <form class = "buttons-home" action="/user/<%= action %>" method="post">
                  
                  <button class = "btn text-light" style = "background-color: #3D3856;" type="submit" formaction="/user/newEntry-route/<%= action %>">New Entry</button>
                  
                  <button class = "btn text-light" style = "background-color: #3D3856;" type="submit" formaction="/user/blogs-route/<%= action %>">Blogs</button>
              </form>
          </div>
          <br>
      </secition>

      <section id="about">

        <div class = "heading-home">
            
          <p>About</p>
          
          <hr>
        </div>

        <div class = "about-content">

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad amet hic, omnis maxime quis eos? Accusantium tempore quia, est aperiam molestias amet blanditiis doloribus. Repellat perspiciatis accusantium quisquam, alias, tenetur perferendis laudantium dolore facere aliquid hic ipsum ab reiciendis odit praesentium ullam eos labore neque quibusdam placeat cum consequatur! Culpa?</p>
        </div>
      </section>

      <section id="music">
        
        <div class = "heading-home">
            
          <p>Music</p>
          
          <hr>
        </div>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> 

