/* INDEX PAGE */

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{

    box-sizing: border-box;
}
body, html{

    height: 100%;
    
}
.bg-image{

    height: 100%;

    background-image: url(https://media.istockphoto.com/videos/multiple-wall-clocks-in-white-background-video-id1206591582?s=640x640);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(7px);
}   
.container {

    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.65);
    border: 3px solid white;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

.buttons {

    background-color: white;
    border-radius: 5px;
    margin: 1rem;
}

.heading{

    font-family: 'Sacramento', cursive;
    font-size: 65px;
    font-weight: bold;
    
}
.header{

    font-style: oblique;
    font-size: 25px;
}
