/* INDEX PAGE */

@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}
body, html{
    scroll-behavior: smooth;
    
    height: 100%;
    scroll-behavior: smooth;
}
h1 {
    margin: 1% 0%;
    padding: 2%;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}
a.nav-link {
    font-size: 1.15rem;
    padding: 0% 25%;
}
section {
    padding: 3% 8%;
}
.p-primary {
    font-size: 1.25rem;
    margin-top: 1%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 0;
    padding: 0 5%;
}
img {
    margin-left: 2%;
}
.bg-image{

    height: 100%;

    /* background-image: url(https://media.istockphoto.com/videos/multiple-wall-clocks-in-white-background-video-id1206591582?s=640x640); */

    background-image: url(https://previews.123rf.com/images/julynx/julynx1410/julynx141000034/32148706-seamless-background-with-clocks.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(7px);
}   
.container-fixed {

    padding: 30px 5px 10px 5px;
    position: absolute; 
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.65);
    border: 3px solid #F8F4EC;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

@media (min-width: 420px) {
    .container-fixed{
        width:400px;
    }
}
@media (min-width: 700px) {
    img {
        margin: auto;
    }
    .home-content {
        flex-direction: row;
    }
    .container-fixed{
        width:500px;
    }
}

@media (min-width: 992px) {
    .container-fixed{
        width:500px;
    }
}

@media (min-width: 1200px) {
    .container-fixed{
        width:500px;
    }
}
.buttons {
    width : 100%;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}
.button-signup{
    margin: auto;
    width : 100%;
    background-color: white;
    border-radius: 5px;
}
.heading{

    font-family: 'Sacramento';
    font-size: calc(36px + 6 * ((100vw - 320px) / 680));
    font-weight: bold;
    color: #F3F0E9;
}
.header{

    font-style: oblique;
    font-size: 25px;
    color: #F3F0E9;
}
#email, #pass{

    width: 350px;
    height: 34px;
    border-radius: 6px;
}
hr{

    width: 100%;
}
input{

    border: none;
    padding-left: 10px;
    background-color: #252524;
    transition: background-color 0.6s;
}
.details{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input:hover{

    background-color: #F8F4EC;
}
input:focus{

    background-color: #F8F4EC;
    outline: none;
    box-shadow: 0px 0px 20px 5px #F3F0E9;
}
input:focus::placeholder{

    color: transparent;
}
input::placeholder{

    transition: color 0.5s ease;
}
.heading:hover{

    /* display: none; */
    display: contents "This web app will fulfill the user's needs in tracking their sleeping patterns, including duration and timings!";
    
}
input:focus::placeholder{

    color: transparent;
}
input::placeholder{

    transition: color 0.5s ease;
}
#new-user{

    margin-left: 150px;
}
.container{
    display: flex;
    flex-direction: column;
}
.home-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: calc(15px + 3 * ((100vw - 320px) / 680));
}
.heading-home{

    font-family: 'Sacramento';
    text-align: center;
    font-weight: bold;
    /* font-size: 60px; */
    font-size: calc(43px + 6 * ((100vw - 320px) / 680));
}
.buttons-home{

    padding-top: 25px;
    text-align: center;
    justify-content: center
}

.about-content{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: calc(13px + 3 * ((100vw - 320px) / 680));
}

.home-sec-content {
    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
}

.active-music {
    outline: none;
    box-shadow: 0px 20px 20px 5px blue;
}